<nav class = "myMenu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="fav-dogs">Favorite Dogs</a></li>
		<li><a href="form">Subscribe</a></li>
		<li><a href="download">Download</a></li>
		<li><a href="link">Links</a></li>
	</ul>
</nav>
	
	

<h1> Milo's Favorite Dog Celebrities!</h1>
<div class = "fav">
<ul>
	<li>Eddie from the TV show <i>Frasier</i></li>
	<li>Milo from the film <i>The Mask</i></li>
	<li>Schmuckers from the TV show <i>Seinfeld</i></li>
	<li>Einstein from the film <i>Back To The Future</i></li>
	<li>Astro from the TV show <i>The Jetsons</i></li>
	<li>Quark from the film <i>Honey, I Shrunk The Kids</i></li>
</ul>
</div>
<br>
<img src="Quark.jpg">
<p> Source: https://disney.fandom.com/wiki/Quark </p>
