<nav class = "myMenu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="fav-dogs">Favorite Dogs</a></li>
		<li><a href="form">Subscribe</a></li>
		<li><a href="download">Download</a></li>
		<li><a href="link">Links</a></li>
	</ul>
</nav>
<h2>Please enter your email address to subscribe to Milo News!</h2>
<form action="http://flip3.engr.oregonstate.edu:3975/subscribe" method="get">
	 <label for="email">Email:</label>
       <input type="text" name="email" id="email">
       <input type="submit" id="emailSubmit">
</form>
<br>
<img src="dogtech.jpg">
<p> Source: https://dogemuchwow.com/web-developer-doge/</p>	
