<nav class = "myMenu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="fav-dogs">Favorite Dogs</a></li>
		<li><a href="form">Subscribe</a></li>
		<li><a href="download">Download</a></li>
		<li><a href="link">Links</a></li>
	</ul>
</nav>
<h1> Are you interested in adopting a dog? </h2>
<p> Please check out these links to Dog Rescue Organizations in Oregon: <p>
<li><a href="http://www.oregondogrescue.org/" target="_blank">Oregon Dog Rescue</a></li>
<li><a href="https://luvabledogrescue.org/" target="_blank">Luvable Dog Rescue</a></li>
<li><a href="https://www.oregonhumane.org/" target="_blank">Oregon Humane Society</a></li>
<br>
<img src="adopt.jpg">
<p> Source: https://www.allthingsdogs.com/adopting-a-dog/ </p>	