<nav class = "myMenu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="fav-dogs">Favorite Dogs</a></li>
		<li><a href="form">Subscribe</a></li>
		<li><a href="download">Download</a></li>
		<li><a href="link">Links</a></li>
	</ul>
</nav>
<h1> Thanks for subscribing! </h1>
<br>
<img src="thanks.gif">
<p> Source: https://gifs-for-the-masses.tumblr.com/post/18834994788 </p>	